button {
    border: none;
    background: none;
}

.tool {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    width: 70px;
    padding: 1rem;
    height: 70px;
}

.tool:hover {
    opacity: 1;
    background: #2b2b2b;
    cursor: pointer;
}

.tool:focus {
    outline: none;
}

#editor {
    height: 500px;
    border: 1px solid #ddd;
    max-width: 1024px;
    margin: 1.5rem auto;
    padding: 1rem;
    border-radius: 5px;
    font-size: 20px;
}

#editor:focus-visible {
    outline: none;
}
